@charset "UTF-8";

#adicao{
	width: 800px;
	display: block;
	margin: auto; /*pra funcionar precisa de um display block*/
	text-align: center;
}

#resultado{
	width: 400px;
	display: block;
	float: right;
	margin-top: 0px;
	margin-left: 0px;
	margin: auto; /*pra funcionar precisa de um display block*/
	text-align: center;
}

#resultado button{
	width: auto;
}

#adicao h1{
	color: blue;
}

table tr, td{
	/*border: solid black 1px;
	border-collapse: collapse;*/
	padding: 15px;
	margin: 15px;
}

.um{
	color: yellow;
	background-color: rgba(0, 0, 0, .4);
}
.c{
	color: blue;
	background-color: rgba(0, 0, 0, .3);	
}
.d{
	color: green;
	background-color: rgba(0, 0, 0, .2);
}
.u{
	color: red;
	background-color: rgba(0, 0, 0, .1);
}

/*table tr#vai{
	color: green;
	font-weight: bolder;
	font-size: 40px;	
	padding: 0px;
	background-color: white;
	border-style: none;
}*/

table thead tr#hd th{
	border-style: none;
	background-color: white;
}

table tr#vai td{
	/*color: green;*/
	font-weight: bolder;
	font-size: 40px;	
	padding: 0px;
	background-color: white;
}

table tr#tbtn td{
	padding: 0px;
}

.cbtn{
	margin: 0px;
	padding: 0px;
	font-size: 40px;
}

button{
	margin: 0px;
	padding: 0px;
	font-size: 30px;
	width: 40px;
}

table tr#qvl{
	color: red;	
}

table tr td#qvlum{
	font-size: 37px;	
}

table tr#sol td{
	background-color: white;
	height: 80px;
	/*border-top-style:solid;*/
}

table tr td{
	height: 30px;
	padding: 0px;	
}

table{
	width: 400px;
	margin: auto;
	font-size: 80px;
}





figure.foto-legenda:hover figcaption{
	/*opacity: 1;*/
}

